:root {
  --primary: #16b47d;
  --primary-100: #e6f6f0;
  --primary-200: #c0e9da;
  --primary-300: #99dcc3;
  --primary-400: #73cfae;
  --primary-500: #16b47d;
  --primary-600: #139e71;
  --primary-700: #108864;
  --primary-800: #0d7258;
  --primary-900: #0a5c4b;
  --secondary: #16b523;
  --secondary-100: #e6f6e9;
  --secondary-200: #c0eac7;
  --secondary-300: #99dda4;
  --secondary-400: #73d082;
  --secondary-500: #16b523;
  --secondary-600: #139e1f;
  --secondary-700: #10881b;
  --secondary-800: #0d7216;
  --secondary-900: #0a5b12;
  --red: #b53416;
  --red-100: #f6e7e2;
  --red-200: #e8c3b9;
  --red-300: #da9e8f;
  --red-400: #cc7a66;
  --red-500: #b53416;
  --red-600: #9f2e13;
  --red-700: #89280f;
  --red-800: #73220c;
  --red-900: #5d1c09;
  --orange: #b56216;
  --orange-100: #f6eee2;
  --orange-200: #e9d0b8;
  --orange-300: #dcaf8d;
  --orange-400: #cf8e63;
  --orange-500: #b56216;
  --orange-600: #9f5713;
  --orange-700: #894b0f;
  --orange-800: #73400c;
  --orange-900: #5d3409;
  --dark: #362b21;
  --dark-100: #e8e4e1;
  --dark-200: #c8bfb7;
  --dark-300: #a89b8e;
  --dark-400: #887664;
  --dark-500: #362b21;
  --dark-600: #30261d;
  --dark-700: #2a2119;
  --dark-800: #241c15;
  --dark-900: #1e1711;
  --blue: #167db5;
  --blue-100: #e2f1f6;
  --blue-200: #b8dce9;
  --blue-300: #8ec7dc;
  --blue-400: #64b2cf;
  --blue-500: #167db5;
  --blue-600: #136ea0;
  --blue-700: #105e8a;
  --blue-800: #0c4f74;
  --blue-900: #093f5f;
  --bg-color: #1f1f1f;

  font-size: 14px;
  color: #d4d4d4;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
